# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class



# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Project-specific files
# Database files
*.db
*.sqlite
*.sqlite3
ipo_data_investorgain.db

# Downloaded logos
download/
company_logos/

*download/


# JSON output files
# *.json

# Log files
*.log

# Temporary files
*.tmp
*.temp

